@import './variables/colors';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: 'Montserrat',
  sans-serif;
  background-color: $white;
  color: $darkBlue;
}

.site {
  width: 100%;
  min-height: 100vh;
}