@import './basic';

@import './template/components';
@import './template/reusable';
@import './essentials/animations';

@import './template/header';
@import './template/login';
@import './template/admin';