// $dark: rgba(21, 21, 38, 1);
// $grey: rgba(49, 49, 63, 1);
// $darkBlue: rgba(59, 61, 89, 1);
// $blue: rgba(110, 122, 191, 1);
// $bluePale: rgba(88, 96, 140, 1);

// $white: rgba(255, 255, 255, 1);

$blue: #3E50B4;
$lightBlue: #3E50B4;
$darkBlue: #283999;
$white: #ffffff;
$whiteAlpha: rgba(255, 255, 255, .67);
$cyan: #60E9FE;
$materialIcon: #E0E0E0;
$blackAlpha: rgba(0, 0, 0, .8);
$black: #000000;