.text--300 {
  font-weight: 300;
}

.text--400 {
  font-weight: 400;
}

.text--500 {
  font-weight: 500;
}

.text--600 {
  font-weight: 600;
}

.text--700 {
  font-weight: 700;
}

.text--800 {
  font-weight: 800;
}

.text-900 {
  font-weight: 900;
}

.text--lowercase {
  text-transform: lowercase;
}

.text--uppercase {
  text-transform: uppercase;
}