@import '../variables/colors';

label {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  input {
    border: none;
    border-radius: 0;
    background: transparent;

    padding: .5rem 1.1rem;
    color: $white;
  }
}

button {
  font-family: 'Montserrat',
  sans-serif;

  max-width: 200px;
  padding: .2rem 2rem;

  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;

  color: $white;
  background-color: transparent;

  border: none;
  cursor: pointer;

  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    display: block;

    width: 100%;
    height: 1px;

    position: absolute;

    background-color: $white;

    transition: transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    will-change: transform;
  }

  span {

    &::before,
    &::after {
      content: '';
      display: block;

      width: 1px;
      height: 100%;

      position: absolute;

      background-color: $white;

      transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
      will-change: transform;
    }

    &::before {
      top: 0;
      left: 0;

      transform: translateY(101%);
    }

    &::after {
      bottom: 0;
      right: 0;

      transform: translateY(-101%);
    }
  }

  &::before {
    top: 0;
    left: 0;

    transform: translateX(-105%);
  }

  &::after {
    bottom: 0;
    right: 0;

    transform: translateX(105%);
  }

  &:hover {

    span::before,
    span::after,
    &::before,
    &::after {
      transform: translateX(0);
    }
  }
}