@import '../variables/colors';

header {
  background-color: $darkBlue;
  color: $white;
}

.header {
  width: 100%;
  height: 50px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  button {
    color: $white;
  }
}

.header__user {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.header__user--info {
  margin-right: 15px;
}