.header {
  width: 100%;
  height: 50px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.header__user {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.header__user--info {
  margin-right: 15px;
}