.flex__center--single {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.form__wrapper--button {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}